    <br><br>
    <div class="container" id="border" align="center">
    <div class="container" id="latlng">
        <div id="latlog0"></div>
        <div id="latlog1"></div>
        <div id="latlog2"></div>
        <div id="latlog3"></div>
    </div>
    </div>