<!-- <ul>
  <% @soju.each do |crime_list| %>
      <% crime_list.each do |e| %>
          <li><%= e %></li>
      <% end %>
  <% end %>
</ul> -->

<%= @soju.first["latitude"] %><br><br>
<%= @soju.last %>

<!-- <% @soju.each do |x|%>
	<%=  x  %> <br><br>
	<% end %> -->