  <body>
    <div id="map" style="width:500px;height:380px;"></div>
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFDSXEp9yQrC-X1L-smboTPORC5zMgr0A&callback=initMap">
    </script>
  </body>
</html>