  <body>
  <div id="map" style="width: 500px; height: 400px;"></div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFDSXEp9yQrC-X1L-smboTPORC5zMgr0A&callback=initMap">
    </script>
    
    <div id="latlog0"></div>
    <div id="latlog1"></div>
    <div id="latlog2"></div>
    <div id="latlog3"></div>

  </body>
</html>