  <body>
  <div id="map" style="width: 500px; height: 400px;"></div>

  <script>
        document.write("hello world")
  </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFDSXEp9yQrC-X1L-smboTPORC5zMgr0A&callback=initMap">
    </script>
    
    <br>
    <%= link_to 'crimedata.html', 'crimedata' %>
    <br>
    <%= link_to 'crimedata.json', 'crimedata.json' %>

  </body>
</html>