    <div class="container">
      <div class="row">
        <div>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <% render 'layouts/sidebar' %>
      </div>
      <% render 'layouts/footer' %>
    </div> 